[submodule "GitHub Projects/Petscop Calendars/Petscop"]
	path = GitHub Projects/Petscop Calendars/Petscop
	url = https://github.com/NewDefectus/Petscop
[submodule "Petscop"]
	path = Petscop
	url = https://github.com/NewDefectus/Petscop
